.content{
    width:60%;
}
.mainContent{
    width:60%;
}
a{
    text-decoration: none;
    color: black;
}
.user_resultUser{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .user_resultTitle:hover{
    background-color: #ccc;
}
.user_userManagement{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;  
}

.warning{
    color:red;
}
.userListViewEntry{
    list-style: none;
    
}
.userDate{
    padding-bottom:10px;
    
}
.userShowHideButton
{
    width:200px;
    margin-top:30px;
    padding:10px;
}
.userButton
{
    width:200px;
    margin-top:30px;
    padding:10px;
}
.userListViewEntry textarea{
    width:80%;
    height:300px;
}
.userListViewEntry input{
    width:50em;
}
.userModify{
    list-style: none;
    display:inline-block;
    width: 50px;
    height:1.5em;
    border-right-style: dotted;
    border-right-width:1px;
    margin:5px;
}
